<div class="d-flex justify-center-between align-items-center">
    <h6 class="my-3 text-white-50 fw-bold">Untitled Request</h6>
    <button type="button" class="btn btn-sm btn-warning">New Request</button>
</div>
<div class="input-group">
    <button type="button" class="btn btn-dark bg-black dropdown-toggle">GET</button>
    <ul class="dropdown-menu">
        
    </ul>
    <input type="text" name="" id="" class="form-control bg-black text-white-50 border-dark" placeholder="Enter/Paste URL">
    <button type="button" class="btn btn-dark bg-black">GET</button>
</div>

@code{

}