<div class="d-flex tabbar">
    @foreach(var tab in Enum.GetNames<Tab>())
    {
        <label class="tab-label @(_selectedTab == tab ? "active" : "")" @onclick="() => _selectedTab = tab" @key="tab">
            @tab
        </label>
    }
</div>
<div class="tab-contents">
    @foreach(var tab in Enum.GetNames<Tab>())
    {
        <div class="content @(_selectedTab == tab ? "active" : "")" @key="tab">
            @_tabContentComponent[tab]
        </div>
    }
</div>


<style type="text/css">
    .tabbar{
        background-color: #333;
        color: white;
    }
    .tab-label{
        padding:10px;
        cursor: pointer;
    }
    .tab-label.active{
        text-decoration:underline;
        text-underline-offset: 5px;
    }

    .content{
        display:none;
    }

    .content.active {
        display: inherit;
    }


</style>

@code {
    private string _selectedTab = nameof(Tab.Parameters);

    private IReadOnlyDictionary<string, RenderFragment> _tabContentComponent =
        new Dictionary<string, RenderFragment>
            {
                [nameof(Tab.Parameters)] =@<QueryTabContent />   ,
                [nameof(Tab.Authorization)] =@<AuthorizationTabContent />    ,
                [nameof(Tab.Headers)] =@<HeadersTabContent />,
                [nameof(Tab.Body)] =@<BodyTabContent />,
            };

    private enum Tab
    {
        Parameters,
        Authorization,
        Headers,
        Body
    }

}